.ui-panel
	.ui-panel-block
		.ui-panel-block__part
			
			a(href="http://localhost:3000/").back-index На Главную
			h3 Базовые компоненты
			ul
				li
					a(href="colors.html") Цветовая схема
				li
					a(href="grid.html") Сетка GRID
				li
					a(href="grid-span.html") Сетка GRID-span
				li
					a(href="grid-flex.html") Сетка FLEX
				
				li
					a(href="typography.html") Типографика
				li
					a(href="marker-list.html") Маркированный список
				li
					a(href="icons.html") Иконки
				li
					a(href="buttons.html") Кнопки
				li
					a(href="forms.html") Формы
				li
					a(href="tabs.html") Табы
				
		.ui-panel-block__part
			h3 Карточки
			ul
				li
					a(href="statistic-card.html") Карточка статистики
				li
					a(href="light-card.html") Простая карточка
				li
					a(href="video-card.html") Карточка видео
			//- 	li
			//- 		a(href="catalogy-menu.html") Каталог меню
			//- 	li
			//- 		a(href="discount-card.html") Карточка акции
			//- 	li
			//- 		a(href="assortiment-card.html") Ассортимент
			//- 	li
			//- 		a(href="acordion.html") Аккордеон	
		
		.ui-panel-block__part
			//- h3 Секции
			//- ul
			//- 	li
			//- 		a(href="our-stories.html") Наши магазины
			//- 	li
			//- 		a(href="contacts.html") Контакты
			//- 	li
			//- 		a(href="footers.html") Footers
			//- 	li
			//- 		a(href="delivery.html") Страница Доставки