footer.footer
	.container
		.footer-top
			a(href="#!").footer-logo
				img(src='./img/logo-footer.svg' width='180' height='40'  alt='logo')
		.footer-nav
			//SINGLE MENU LIST
			.footer-nav-item.transform-list
				label.transform-list-label
					.transform-list__title Sorglos Einkaufen bei SportX
					input(type="checkbox" name="transform_list_1")
					ul.footer-nav__list
						li.footer-nav__item
							a.footer-nav__link(href="") Ihre Vorteile
						li.footer-nav__item
							a.footer-nav__link(href="") Bestellung & Kundenkonto
						li.footer-nav__item
							a.footer-nav__link(href="") Zahlungsmittel & Gutscheine
						li.footer-nav__item
							a.footer-nav__link(href="") Geschenkkarten
						li.footer-nav__item
							a.footer-nav__link(href="") Retouren & Garantie
						li.footer-nav__item
							a.footer-nav__link(href="") Lieferung & Montage
						li.footer-nav__item
							a.footer-nav__link(href="") Haufige Fragen (FAQ)

			//SINGLE MENU LIST
			.footer-nav-item.transform-list
				label.transform-list-label
					.transform-list__title Services
					input(type="checkbox" name="transform_list_2")
					ul.footer-nav__list
						li.footer-nav__item
							a.footer-nav__link(href="") Ski- und Snowboardvermietung
						li.footer-nav__item
							a.footer-nav__link(href="") Body Check-Up
						li.footer-nav__item
							a.footer-nav__link(href="") Coaching-Sessions
						li.footer-nav__item
							a.footer-nav__link(href="") 3D-Fuss-und Laufanalyse
						li.footer-nav__item
							a.footer-nav__link(href="") Schuh-Finder
						li.footer-nav__item
							a.footer-nav__link(href="") Fitnessgerate-Finder
						li.footer-nav__item
							a.footer-nav__link(href="") Bike-Finder
						li.footer-nav__item
							a.footer-nav__link(href="") Sport-BH-Finder
						li.footer-nav__item
							a.footer-nav__link(href="") Beratung & Inspiration
						li.footer-nav__item
							a.footer-nav__link(href="") Werkstatt & Services
			
			//SINGLE MENU LIST
			.footer-nav-item.transform-list
				label.transform-list-label
					.transform-list__title Unternehmen
					input(type="checkbox" name="transform_list_3")
					ul.footer-nav__list
						li.footer-nav__item
							a.footer-nav__link(href="") Uber SportX
						li.footer-nav__item
							a.footer-nav__link(href="") Philosophie
						li.footer-nav__item
							a.footer-nav__link(href="") Unsere Filialen
						li.footer-nav__item
							a.footer-nav__link(href="") Nachhaltigkeit
						li.footer-nav__item
							a.footer-nav__link(href="") Offene Stellen bei SportX
						li.footer-nav__item
							a.footer-nav__link(href="") Medien
							
