header.header
	.container.header-container
		.header-left
			a.logo(href="index.html")
				img(src='./img/logo.svg' width="175"  height='18'  alt='logo')

		
		.header-right
			#nav-menu-wrapper.nav-menu-wrapper
				ul.nav-menu
					li.nav-menu__item 
						a.nav-menu__link(href="") SPORTATEN
					li.nav-menu__item 
						a.nav-menu__link(href="") Damen
					li.nav-menu__item 
						a.nav-menu__link(href="") Herren
			//menu-toggle
			button.menu-toggle#menu-toggle
				span
	

