
.form-item{
	position: relative;
	.form-input, .form-textarea{
		width: 100%;
		display: block;
		font-family: var(--font-family);
		font-size: 16px;
		padding-inline: 11px;
		color: var(--black);
		&::placeholder{
			font-family: var(--font-family);
			font-size: 16px;
			text-transform: capitalize;
			color: #b3b3b3;
		}
	}
}
.search-button{
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-form .search-button{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	z-index: 2;
	width: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-form{
	.form-input{
		height: 33px;
		background-color:#F1EEEE;

	}
	input:-webkit-autofill,
	input:-webkit-autofill:hover, 
	input:-webkit-autofill:focus, 
	input:-webkit-autofill:active{
		box-shadow: 0 0 0 50px #F1EEEE inset !important;
		-webkit-box-shadow: 0 0 0 50px #F1EEEE inset !important;
	}
}