h1, .h1, h2, .h2, .h3, h3{
	font-family: var(--font-family);
	font-weight: 900;
	font-size: 30px;
	line-height: 1.33;
	text-transform: uppercase;
	color: var(--blue);
}
h2, .h2{
	font-weight: 800;
	font-size: 26px;
	line-height: 1.54;
	@media (max-width: 767px) {
	  font-size: 24px;
	}
}
h3, .h3{
	font-weight: 700;
	font-size: 20px;
	line-height: 1.6;
	@media (max-width: 767px) {
	  font-size: 18px;
	}
}
.h-18{
	font-weight: 600;
	font-size: 18px;
	line-height: 1.60;
	color: #364153;
	@media (max-width: 767px) {
	  font-size: 15px;
	}
}
.txt-center{text-align: center;}
