.nav-menu-wrapper{
	display: block;
	@media (max-width: 767px) {
		position: fixed;
		top: 60px;
		right: 0;
		bottom: 0;
		width: 100%;
        border-top: 1px solid  #f0f0f0;
		z-index: 5;
		transition: .2s; 
		transform: translateX(110%);
		background-color: rgba(0,0,0, .5);
		display: flex;
		justify-content: flex-end;
       &.active{
		transform: translateX(0);
	   }
	   .nav-menu{
		flex-direction: column;
		align-items: flex-start;
		row-gap: 16px;
		background-color: #fff;
		width: 100%;
		max-width: 375px;
		 padding: 20px;
		@media (max-width: 375px) {
		  padding: 20px 14px;
		}
	   }
	}
}

.nav-menu{
	display: flex;
	align-items: center;
	column-gap: 75px;
	list-style: none;
	margin: 0;
	padding: 0;
	.nav-menu__link{
		font-weight: 700;
		font-size: 14px;
		line-height: 1.43;
		text-transform: uppercase;
		color: var(--darkText);
		padding-block: 5px;
		white-space: nowrap;
		transition: .3s; 
		&:hover{color: var(--red);}
	}
	&__item.active .nav-menu__link{color: var(--red);}
}