extends ../layouts/layout.pug

block content
	.page-content
		include ../sections/_header.pug
		main.main-page
			
			
					
		include ../sections/_footer.pug
			
block variables
	-var title = "Project";
